<footer class="footer">
    <div class="footer-block">
        <span class="footer-information">© 2024 | All Rights Reserved</span>
        <svg class="footer-icon">
            <use href="./images/sprite.svg#icon-heart"></use>
        </svg>
    </div>

    <a class="scroll-button" href="#Home">
        <svg class="footer-scroll" width="40px" height="40px">
            <use href="./images/sprite.svg#icon-eject"></use>
        </svg>
        <svg class="footer-scroll" width="30px" height="30px">
            <use href="./images/sprite.svg#icon-camera"></use>
        </svg>
    </a>
</footer>

