<div class="backdrop is-hidden">
    <div class="modal">
        
        <button type="button" class="close-btn" data-modal-close>
            <svg class="modal-close-icon">
                <use href="./images/sprite.svg#icon-close-modal-button"></use>
            </svg>
        </button>

        <div class="modal-card-container"></div>
        
    </div>
    <div class="youTube-modal is-hidden backdrop">
        <button type="button" class="youTube-close-btn">
            <svg class="modal-close-icon">
                <use href="./images/sprite.svg#icon-close-modal-button"></use>
            </svg>
        </button>
        <div class="youTube-video-container"></div>
    </div>
</div>